<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Terayn | Enhancement Collection</title>
</head>
<body>
    <nav>
        <ul>
           
           <li> <a href = "/">Home</a></li>
           <li><a href="./clays">Clays</a></li> 
           <li><a href="./oils">Oils</a> </li>

        </ul>

    </nav>
    <!-- <h3></h3> -->
    
</body>
<foot>
    <h6><%- include ('../partials/foot.ejs') %></h6>
</foot>
</html>