<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>Uponyaji Nishati Asili</title>
</head>

<body>
    <header>
        <h1>Uponyaji Nishati Asili™</h1>
    </header>
    <nav>
        <div id="login">
            <a href="">Login/Sign Up</a></div>

    </nav>
    <h3>Welcome to Uponyaji Nishati Asili</h3>

    <section>
        <h4>About UNA™</h4>
        <p>Uponyaji Nishati Asili is a holistic skincare company that was
            created with customer-need in mind.. Here at UNA, you are able to
            build your own mask, mindfully and intentioally. We accomplish this
            by
            giving you the ability to take part in the creation of your skincare
            product(s). Treat yourself, don't cheat yourself! Click <a
                href="">Build a Mask</a> to get started or click any of the
            links below to learn more about the options available to you.</p>
    </section>

    <div class="row">
        <div class="column">
            <a href="http://localhost:3000/clays">
                <img src="https://imgur.com/0a6YsAS" width="100" height="100">
            </a></div>

        <div class="column"><a href="http://localhost:3000/enhancements"><img
                    src="https://imgur.com/xn2J9x9" width="100"
                    height="100"></a></div>
        <div class="column"><a href="http://localhost:3000/oils"><img
                    src="https://imgur.com/S6RAWMc" width="100" height="100">
        </div>
    </div>
    </p>



</body>
<foot>
    <h5><%- include ('./partials/foot.ejs') %></h5>
</foot>

</html>