<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Uponyaji Nishati Asili</title>
</head>
<body>
    <header><h1>Uponyaji Nishati Asili</h1></header>
    <h3>Welcome to Uponyaji Nishati Asili</h3>
    
</body>
<foot>
    <h5><%- include ('./partials/foot.ejs') %></h5>
</foot>
</html>