<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>Evankha Terayn</title>
</head>

<body>
    <section id="para">
        <p>Evankha Terayn is a holistic health and beauty company with a skincare line called <em><strong>Terayn Essentials</strong></em>.  This line of product was
            created with customer-need in mind.  We give you the
            ability to
            build your own mask, mindfully and intentioally in cooperation with
            us. We accomplish this
            by
            giving you the ability to take part in the creation of your skincare
            product(s). Treat yourself, don't cheat yourself! Click <a
                href="/build"><em><strong>Build a Mask</strong></em> </a> to get started or click on any of
            the
            immages below to learn more about the options available to you.</p>
    </section>

    <div class="row">
        <div class="column">
            <h5>Clays</h5>
            <a href="http://localhost:3000/clays">
                <img src="https://imgur.com/0a6YsAS.jpeg" width="125"
                    height="125">
            </a>
        </div>

        <div class="column">
            <h5>Enhancements</h5>
            <a href="http://localhost:3000/enhancements"><img
                    src="https://i.imgur.com/xn2J9x9.jpeg"width="125"
                    height="125"></a>
        </div>
        <div class="column">
            <h5>Oils</h5>
            <a href="http://localhost:3000/oils"><img
                    src="https://imgur.com/S6RAWMc.jpeg" width="125"
                    height="125">
        </div>

    </div>
    </p>



</body>
<foot>
    <h6><%- include ('./partials/foot.ejs') %></h6>
</foot>

</html>