<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Terayn | Oil Collection</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href="./clays">Clays</a></li> 
            <li><a href="./enhancements">Enhancements</a></li> 
            
        </ul>

    </nav>
   
    
</body>
<foot>
    <h6><%- include ('../partials/foot.ejs') %></h6>
</foot>
</html>