<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Uponyaji Nishati Asili</title>
</head>
<body>
    <header><h2> Uponyaji Nishati Asili | Clays</h2></header>
    <nav>
        <a href = "/">Home</a>
        <a href="./oils">Oils</a> 
        <a href="./enhancements">Enhancements</a> 
        <a href="">Login/Sign Up</a>

    </nav>
    <!-- <h3></h3> -->
    
</body>
<foot>
    <h5><%- include ('../partials/foot.ejs') %></h5>
</foot>
</html>